<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lianxi.dingtu.newsnfc">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 显示系统窗口权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 在 屏幕最顶部显示addview -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".app.base.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".mvp.ui.activity.PreviewActivity" />
        <activity android:name=".mvp.ui.activity.RegActivity" />
        <activity android:name=".mvp.ui.activity.CardActivity" />
        <activity android:name=".mvp.ui.activity.CaptureActivity" />
        <activity android:name=".mvp.ui.activity.ImageActivity" />
        <activity android:name=".mvp.ui.activity.CorrectActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5c13520db465f594e2000117" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
        <meta-data
            android:name="com.lianxi.dingtu.newsnfc.app.GlobalConfiguration"
            android:value="ConfigModule" /> <!-- 开机自启动广播接受 -->
        <receiver android:name=".app.utils.AutoStartBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver> <!-- 条形码扫描 -->
        <activity
            android:name="com.google.zxing.client.android.CaptureActivity2"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--
				Allow web apps to launch Barcode Scanner by linking to
				http://zxing.appspot.com/scan.
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zxing.appspot.com"
                    android:path="/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- We also support a Google Product Search URL. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.com"
                    android:path="/m/products/scan"
                    android:scheme="http" />
            </intent-filter>
            <!-- And the UK version. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.google.co.uk"
                    android:path="/m/products/scan"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.LoginActivity" />
        <activity android:name=".app.utils.ShowImageActivity" />
        <activity android:name=".mvp.ui.activity.MainActivity" />
        <activity
            android:name=".mvp.ui.activity.ManualActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.ui.activity.AutoActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.NoCardActivity" />
        <activity android:name=".mvp.ui.activity.OpenActivity" />
        <activity
            android:name=".mvp.ui.activity.RechargeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.ui.activity.RefundActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.ui.activity.CloseActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.FaceActivity" />
        <activity android:name=".mvp.ui.activity.ExpenseActivity" />
        <activity android:name=".mvp.ui.activity.DepositActivity" />
        <activity android:name=".mvp.ui.activity.StepOneActivity" />
        <activity android:name=".mvp.ui.activity.StepTwoActivity" />
        <activity android:name=".mvp.ui.activity.StepThreeActivity" />
        <activity android:name=".mvp.ui.activity.ChooseActivity" />
        <activity android:name=".mvp.ui.activity.ChoiceActivity" />
        <activity
            android:name=".mvp.ui.activity.ClaimActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.PaymentActivity" />
        <activity
            android:name=".mvp.ui.activity.QRDepositActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.TodayActivity" />
        <activity android:name=".mvp.ui.activity.WarenverbrauchActivity"/>
    </application>

</manifest>